* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* common */
.clear {
    clear: both;
}
/* clear float */
.text-white {
    color: #fff !important;
}
/* ưu tiên cho text nào kh có màu trắng */

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

/* tạo element giả nằm ở cuối */
/* kh cần sử dụng class clear */
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: calc(100% / 3);
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

#main {

}

#header {
    height: 46px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* overflow: hidden; */
    /* khi đối tượng con vượt quá nó sdung hidden để ẩn */
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block; 
    /* cho thanh menu theo chiều ngang */
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    color:black;
    background-color: #ccc;
}

#nav .subnav li:hover a {
    color:black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    position: absolute;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
}

#nav .subnav li:hover {
    color:black;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    cursor: pointer;
    /* thuộc tính thay đổi con trỏ chuột */
    background-color: #f44336;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* 50% chiều ngang của chính nó */
    background: url('../img/port/tien.png') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    text-align: center;
    width: 100%;
    /* left: 50%; 
    transform: translateX(-50%); */
    /* thuộc tính canh giữa */
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px black;
}

#content {

}

#content .content-section {
    padding: 64px 0 112px;
    /* 112=64+48 */
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* bù trừ cho margin âm ở row */
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    /* thuộc tính chữ cách xa nhau */
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* thuộc tính chữ nghiêng */
    opacity: 0.6;
}

#content .section-sub-heading1 {
    margin-top: 25px;
    font-size: 20px;
}

#content .section-sub-heading2 {
    margin-top: 25px;
    font-size: 20px;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
    /* thuộc tính chỉnh độ cao của 1 dòng */
}

#content .albums-list {
    margin-top: 48px;
}

/* #content .album-item { */
    /* float: left;
    width: calc(100% / 3); */
    /* text-align: center; */
    /* } */
    /* có ở col col-third text-center nên bỏ */

#content .album-name {
    font-size: 15px;
}

#content .album-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
    /* thuộc tính bo góc ở ảnh */
}

/* tour section */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 39px;
    list-style: none;
    margin-top: 16px;
}

.tickets-list li {
    color: #000;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .edu {
    
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .skill {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .quantity {
    background-color: #000;
    color: #fff;
    float:right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* places */
.places-list {
    /* margin-top: 32px; */
    /* margin-left: -8px; */
    /* margin-right: -8px; */
    /* viết gọn: margin: 32px -8px 0 */
    /* padding-bottom: 48px; */
    margin-top: 16px;
    /* viết lại */
}

/* .place-item { */
    /* width: calc(100% / 3); */
    /* float: left; */
    /* padding: 0 8px; */
    /* kh cần nữa vì nó được thừa hưởng từ class col và col-third */
/* } */

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;;
}

.place-body {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
} 

.place-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
}

.place-buy-btn:hover {
    color: #000;
    background-color: #ccc;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* thuộc tính làm lớp phủ modal*/
    background: rgba(0, 0, 0, 0.4);
    /* lớp overlay thực chất là background */
    align-items: center;
    /* thằng con nằm giữa chiều cao cha */
    justify-content: center;
    /* th con nằm giữa chiều ngang cha */
    display: none;
    /* display: flex; biến thằng con modal-container nằm giữa thằng cha là modal */
}

.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    justify-content: center;
    align-items: center;
    background: #009688;
    height: 130px;
    display: flex;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    /* tính chất của block là mỗi thằng nằm trên một hàng riêng biệt */
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    background: #009688;
    border: none;
    color: white;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-tickets:hover {
    background-color: #ccc;
    color: #000;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

/* trượt box ticket */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.contact-content {
    margin-top: 48px;
}

.contact-list {
    margin-top: 25px;
}


.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

/* selector nâng cao chứa tất cả các ti- */
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-summit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 15px;
    padding: 10px 16px;
    float: right;
    cursor: pointer;
}

.contact-form .form-summit-btn:hover {
    background-color: #ccc;
    color: #000;
}

/* map section */
.map-section img {
    width: 100%;
}

#footer {
   margin-top: -64px;
    padding: 64px 16px;
    text-align: center;
}

#footer .social {
    margin-top: 16px;
    font-size: 24px;
}

#footer .social a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .social a:hover,
#footer .copyright a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}